<div class="container">
  <div class="row my-3">
    <div class="col-lg-12">

      <h1>project index</h1>
      <span>organization</span>
      <span>（プルダウン）</span>
      <table class='table'>
        <thead>
          <tr>
            <th>name</th>
            <th>overview</th>
            <th>man hour</th><%# taskのman_hourの合計 %>
            <th>spendable hour</th>
            <th>capacity</th>
            <th>owner</th>
            <th>member</th>
          </tr>
        </thead>
        <tbody>
          <% @project.each do |project| %><%# ログインユーザの情報だけ取得したい %>
          <tr>
            <td><%= link_to project.name, organization_project_path(project.id) %></td><%# deleteした時にindexに遷移できない %>
            <td><%= project.overview %></td>
            <td>タスクの合計時間</td>
            <td></td>
            <td></td>
            <td><%= User.find(project.user_id).name %></td>
            <td>メンバーカウント(link)</td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>