<div class="container">
  <div class="row my-3">
    <div class="col-lg-12">
      <h1>about</h1>
      <div>
        tascapはプロジェクトに参加するメンバーでタスクを管理することができます。<br>
        メンバーのキャパシティを可視化することで、特定のメンバーの過負荷を防ぎつつ、バランスよくタスクを分担することができます。<br>
        ビジネスやプライベート、シーンを問わずチームでタスクを遂行する全ての人のためのアプリケーションです。
      </div>
      <br>

      <div>
        <u class="font-weight-bold">organization</u>
        <div>
          ユーザーが所属する組織です。<br>
          組織の作成者(owner)またはが所属ユーザーが、他のユーザーを招待(invite)することで新たなユーザーを所属させることができます。<br>
          所属していない組織のページにはアクセスできません。
        </div>
      </div>
      <br>

      <div>
        <u class="font-weight-bold">project</u>
        <div>
          組織に紐づくプロジェクトです。<br>
          組織に所属しているユーザーが新たに作成することができます。<br>
          プロジェクトの作成者(owner)またはメンバーが、同じ組織のユーザーを招待(invite)することで新たなメンバーを参加させることができます。<br>
          参加していないプロジェクトのページにはアクセスできません。<br>
          メンバーはプロジェクトごとに費やすことのできる時間(spendable)を設定します。
        </div>
      </div>
      <br>

      <div>
        <u class="font-weight-bold">task</u>
        <div>
          プロジェクトに紐づくタスクです。<br>
          プロジェクトのメンバーが新たに作成することができます。<br>
          所属していないプロジェクトのタスクのページにはアクセスできません。<br>
          タスクには工数(man hour)、期限(deadline)、進捗状況(status)、担当者(person)を設定します。<br>
          プロジェクトに費やすことのできる時間(spendable)と、担当するタスクの工数(man hour)の合計からタスクの許容量(capacity)を計算します。<br>
          この値を参考にタスクを分担しましょう。
        </div>
        <br>
      </div>

    </div>
  </div>
</div>