<div class="container">
  <div class="row my-3">
    <div class="col-lg-12">
      <h1>belonging user</h1>
      <div><%= link_to 'search user',organization_belonging_search_path(@organization) %></div>
    </div>
  </div>
</div>